<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
</head>
<body>
    <div class="container">
        <section class="detalle">
            <div class="row productos">
                <div class="titulo col-12">
                    <h2>
                        <%= name %>: 
                    </h2>
                </div>
                <div class="col-12">
                    <div class="contenido text-left">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <figure class="text-center">
                                    <img src="/images/products/<%= image %> " alt="" class="img-fluid">
                                </figure>
                                <p>
                                    <%= description %>
                                </p>
                            </div>
                            <div class="col-12 col-lg-4 datos">
                                <h3 class="my-4">
                                    <%= name %>
                                </h3>
                                <% if (discount != 0) { %>
                                    <span><strike>$<%= price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></strike> / <strong><%- discount %>% OFF</strong></span>
                                    <% } %>
                                        <h2>$
                                            <%- (price - price * discount / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
                                        </h2>
                                        <p><i class="fas fa-credit-card mr-3 my-4"></i>Pagá en 12 cuotas sin interés</p>
                                        <p><i class="fas fa-store mr-3 my-4"></i>Retiro gratis en locales del vendedor</p>
                                        <button>Comprar ahora</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>