<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/headAdmin', {title: 'Formulario de creación' }) %>

    <body>
        <!-- Header -->
        <%- include('../partials/headerAdmin') %>
            <!-- /Header -->

            <div class="container my-3">
                <div class="col-12 col-md-10 col-lg-8 mx-auto">
                    <div class="card shadow-lg">
                        <div class="card-header bg-warning">
                            Formulario de creación de productos
                        </div>
                        <div class="card-body">
                            <form action="/products/create" method="POST" id="formAddProduct"
                                enctype="multipart/form-data">
                                <div class="row product-detail">

                                    <div class="col-12 col-lg-6 mb-3">
                                        <label for="name" class="form-label">Nombre del producto:</label>
                                        <input type="text" id="name" name="name"
                                            class="form-control form-control-lg py-3 <%= (locals.errors && errors.name) && 'is-invalid' %>">
                                        <span class="text-danger" id="name-error">
                                            <%= (locals.errors && errors.name) && errors.name.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-3 mb-3">
                                        <label for="price" class="form-label">Precio del producto:</label>
                                        <input type="number" id="price" name="price"
                                            class="form-control form-control-lg py-3 <%= (locals.errors && errors.price) && 'is-invalid' %>">
                                        <span class="text-danger" id="price-error">
                                            <%= (locals.errors && errors.price) && errors.price.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-3 mb-3">
                                        <label for="discount" class="form-label">Descuento:</label>
                                        <input type="text" id="discount" value="0" name="discount"
                                            class="form-control form-control-lg py-3 <%= (locals.errors && errors.discount) && 'is-invalid' %>">
                                        <span class="text-danger" id="discount-error">
                                            <%= (locals.errors && errors.discount) && errors.discount.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="section" class="form-label">Sección:</label>
                                        <select name="section" id="section"
                                            class="form-control form-control-lg form-select-lg <%= (locals.errors && errors.name) && 'is-invalid' %>">
                                            <option value="" hidden selected>Elegí la sección</option>
                                            <% sections.forEach(section=> { %>
                                                <option value="<%= section.id %>">
                                                    <%= section.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <span class="text-danger" id="section-error">
                                            <%= (locals.errors && errors.section) && errors.section.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="brand" class="form-label">Marca:</label>
                                        <select name="brand" id="brand"
                                            class="form-control form-control-lg form-select-lg <%= (locals.errors && errors.brand) && 'is-invalid' %>">
                                            <option value="" hidden selected>Elegí la marca</option>
                                            <% brands.forEach(brand=> { %>
                                                <option value="<%= brand.id %>">
                                                    <%= brand.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <span class="text-danger" id="brand-error">
                                            <%= (locals.errors && errors.brand) && errors.brand.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="category" class="form-label">Categoría:</label>
                                        <select name="category" id="category"
                                            class="form-control form-control-lg form-select-lg <%= (locals.errors && errors.category) && 'is-invalid' %>">
                                            <option value="" hidden selected>Elegí la categoría</option>
                                            <% categories.forEach(category=> { %>
                                                <option value="<%= category.id %>">
                                                    <%= category.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <span class="text-danger" id="category-error">
                                            <%= (locals.errors && errors.category) && errors.category.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="subcategory" class="form-label">Subcategoría:</label>
                                        <select name="subcategory" id="subcategory"
                                            class="form-control form-control-lg form-select-lg <%= (locals.errors && errors.subcategory) && 'is-invalid' %>">
                                            <option value="" hidden selected>Elegí la categoría</option>
                                            <% subcategories.forEach(subcategory=> { %>
                                                <option value="<%= subcategory.id %>">
                                                    <%= subcategory.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <span class="text-danger" id="subcategory">
                                            <%= (locals.errors && errors.subcategory) && errors.subcategory.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="description" class="form-label">Descripción:</label>
                                        <textarea name="description" id="description"
                                            class="form-control form-control-lg py-3 <%= (locals.errors && errors.description) && 'is-invalid' %>"
                                            style="resize: none;" rows="5"></textarea>
                                        <p id="descriptionInfo" hidden><span id="numberCharacters"></span> disponibles
                                        </p>
                                        <span class="text-danger" id="description-error">
                                            <%= (locals.errors && errors.description) && errors.description.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="description" class="form-label">Imagen:</label>
                                        <div class="border w-100 rounded d-flex justify-content-center p-2 " style="height: 185px;" id="box-image-preview">
                                            <img id="image-preview" src="" alt="" height="100%"
                                            class="img-fluid">
                                        </div>
                                        <span class="text-danger" id="image-error">
                                            <%= (locals.errors && errors.image) && errors.image.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 mb-3">
                                        <div
                                            class="d-flex flex-column flex-md-row justify-content-end gap-2 align-items-center">
                                            <div>
                                                <label for="image" class="btn btn-outline-dark m-0">Agregar imagen</label>
                                                <input hidden class="form-control form-control" type="file"
                                                    name="image" id="image">
                                              
                                            </div>
                                            <button type="submit" class="btn btn-outline-dark">Guardar producto</button>
                                        </div>
                                        <span class="text-danger text-center" id="form-error"></span>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
      <script src="/javascripts/productValidator.js"></script>
    </body>

</html>


