<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/headAdmin', {title: 'Formulario de creación' }) %>

    <body>
        <!-- Header -->
        <%- include('../partials/headerAdmin') %>
            <!-- /Header -->

            <div class="container my-3">
                <div class="col-12 col-md-10 col-lg-8 mx-auto">
                    <div class="card shadow-lg">
                        <div class="card-header bg-warning">
                            Formulario de creación de productos
                        </div>
                        <div class="card-body">
                            <form action="/products/create" method="POST" id="formAddProduct"
                                enctype="multipart/form-data">
                                <div class="row product-detail">

                                    <div class="col-12 col-lg-6 mb-3">
                                        <label for="name" class="form-label">Nombre del producto:</label>
                                        <input type="text" id="name" name="name"
                                            class="form-control form-control-lg py-3 <%= (locals.errors && errors.name) && 'is-invalid' %>">
                                        <span class="text-danger" id="name-error">
                                            <%= (locals.errors && errors.name) && errors.name.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-3 mb-3">
                                        <label for="price" class="form-label">Precio del producto:</label>
                                        <input type="number" id="price" name="price"
                                            class="form-control form-control-lg py-3 <%= (locals.errors && errors.price) && 'is-invalid' %>">
                                        <span class="text-danger" id="price-error">
                                            <%= (locals.errors && errors.price) && errors.price.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-3 mb-3">
                                        <label for="discount" class="form-label">Descuento:</label>
                                        <input type="text" id="discount" value="0" name="discount"
                                            class="form-control form-control-lg py-3 <%= (locals.errors && errors.discount) && 'is-invalid' %>">
                                        <span class="text-danger" id="discount-error">
                                            <%= (locals.errors && errors.discount) && errors.discount.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="section" class="form-label">Sección:</label>
                                        <select name="section" id="section"
                                            class="form-control form-control-lg form-select-lg <%= (locals.errors && errors.name) && 'is-invalid' %>">
                                            <option value="" hidden selected>Elegí la sección</option>
                                            <% sections.forEach(section=> { %>
                                                <option value="<%= section.id %>">
                                                    <%= section.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <span class="text-danger" id="section-error">
                                            <%= (locals.errors && errors.section) && errors.section.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="brand" class="form-label">Marca:</label>
                                        <select name="brand" id="brand"
                                            class="form-control form-control-lg form-select-lg <%= (locals.errors && errors.brand) && 'is-invalid' %>">
                                            <option value="" hidden selected>Elegí la marca</option>
                                            <% brands.forEach(brand=> { %>
                                                <option value="<%= brand.id %>">
                                                    <%= brand.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <span class="text-danger" id="brand-error">
                                            <%= (locals.errors && errors.brand) && errors.brand.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="category" class="form-label">Categoría:</label>
                                        <select name="category" id="category"
                                            class="form-control form-control-lg form-select-lg <%= (locals.errors && errors.category) && 'is-invalid' %>">
                                            <option value="" hidden selected>Elegí la categoría</option>
                                            <% categories.forEach(category=> { %>
                                                <option value="<%= category.id %>">
                                                    <%= category.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <span class="text-danger" id="category-error">
                                            <%= (locals.errors && errors.category) && errors.category.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="subcategory" class="form-label">Subcategoría:</label>
                                        <select name="subcategory" id="subcategory"
                                            class="form-control form-control-lg form-select-lg <%= (locals.errors && errors.subcategory) && 'is-invalid' %>">
                                            <option value="" hidden selected>Elegí la categoría</option>
                                            <% subcategories.forEach(subcategory=> { %>
                                                <option value="<%= subcategory.id %>">
                                                    <%= subcategory.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <span class="text-danger" id="subcategory">
                                            <%= (locals.errors && errors.subcategory) && errors.subcategory.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="description" class="form-label">Descripción:</label>
                                        <textarea name="description" id="description"
                                            class="form-control form-control-lg py-3 <%= (locals.errors && errors.description) && 'is-invalid' %>"
                                            style="resize: none;" rows="5"></textarea>
                                        <p id="descriptionInfo" hidden><span id="numberCharacters"></span> disponibles
                                        </p>
                                        <span class="text-danger" id="description-error">
                                            <%= (locals.errors && errors.description) && errors.description.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <label for="description" class="form-label">Imagen:</label>
                                        <div class="border w-100 rounded d-flex justify-content-center p-2 " style="height: 185px;" id="box-image-preview">
                                         
                                        </div>
                                        <span class="text-danger" id="image-error">
                                            <%= (locals.errors && errors.image) && errors.image.msg %>
                                        </span>
                                    </div>

                                    <div class="col-12 mb-3">
                                        <div
                                            class="d-flex flex-column flex-md-row justify-content-end gap-2 align-items-center">
                                            <div>
                                                <label for="image" class="btn btn-outline-dark m-0">Agregar imagen</label>
                                                <input hidden class="form-control form-control" type="file"
                                                    name="image" id="image">
                                              
                                            </div>
                                            <button type="submit" class="btn btn-outline-dark">Guardar producto</button>
                                        </div>
                                        <span class="text-danger text-center" id="form-error"></span>
                                    </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
            <script>

                const $ = (e) => document.getElementById(e)

                const formAddProduct = document.getElementById('formAddProduct')
                const inputName = document.getElementById('name')
                const inputPrice = document.getElementById('price')
                const inputDiscount = document.getElementById('discount')
                const inputDescription = document.getElementById('description')
                const selectSecction = document.getElementById('section')
                const selectBrand = document.getElementById('brand')
                const selectCategory = document.getElementById('category')
                const selectSubcategory = document.getElementById('subcategory')
                const inputImage = document.getElementById('image')

                inputName.addEventListener('blur', function() {
                    switch (true) {
                        case this.value.length < 2:
                           showError('name', 'El nombre debe tener al menos 2 caracteres')
                            break;
                        case this.value.length > 100:
                          showError('name', 'El nombre debe tener menos de 100 caracteres')
                            break;
                        default:
                           cleanError('name')
                            break;
                    }
                });

                inputPrice.addEventListener('blur', function() {
                    switch (true) {
                        case this.value < 1:
                          showError('price', 'El precio debe ser mayor a 0')
                            break;
                        case this.value > 1000000:
                           showError('price', 'El precio debe ser menor a 1.000.000')
                            break;
                        default:
                            cleanError('price')
                            break;
                    }
                })
                inputDiscount.addEventListener('blur', function() {
                    switch (true) {
                        case this.value < 0:
                           showError('discount', 'El descuento debe ser mayor a 0')
                            break;  
                        case this.value > 100:      
                           showError('discount', 'El descuento debe ser menor a 100')
                            break;  
                        default:            
                           cleanError('discount')
                            break; 
                    }
                })
                inputDescription.addEventListener('blur', function() {
                    switch (true) {
                        case this.value.length < 20:
                            showError('description', 'La descripción debe tener al menos 20 caracteres')
                            break;                  
                        case this.value.length > 500:
                            showError('description', 'La descripción debe tener no más de 500 caracteres')
                            break;
                        default:    
                           cleanError('description')
                            break;
                    }
                });

                selectSecction.addEventListener('blur', function() {
                    if (this.value == '') {
                        showError('section', 'Debes elegir una sección')
                    }else {
                        cleanError('section')
                    }
                })
                selectBrand.addEventListener('blur', function() {
                    if (this.value == '') {
                        showError('brand', 'Debes elegir una marca')
                    }else {
                        cleanError('brand')
                    }
                })
                selectCategory.addEventListener('blur', function() {
                    if (this.value == '') {
                        showError('category', 'Debes elegir una categoría')
                    }else {
                        cleanError('category')
                    }
                })
                selectSubcategory.addEventListener('blur', function() {
                    if (this.value == '') {
                        showError('subcategory', 'Debes elegir una subcategoría')
                    }else {
                        cleanError('subcategory')
                    }
                })

                inputImage.addEventListener('change', function() {
                    let file = this.files[0]
                    let type = file.type
                    let name = file.name
                    let size = file.size
                    let extension = name.split('.')[1]
                    let extensionsValid = ['png', 'jpg', 'jpeg', 'gif']
                    cleanError('image');
                    $('box-image-preview').innerHTML = null
                    $('box-image-preview').classList.remove('border-danger')
                    if (extensionsValid.includes(extension)) {
                        if (size <= 1000000) {
                            let reader = new FileReader()
                            reader.readAsDataURL(file)
                            reader.onload = function(e) {
                                let route = e.target.result
                                let template = `
                                    <img src="${route}" alt="${name}" height="100%">
                                `
                                $('box-image-preview').innerHTML = template
                            }
                        }else {
                            $('box-image-preview').classList.add('border-danger')
                            showError('image', 'La imagen debe pesar menos de 1MB')
                        }
                    }else {
                        $('box-image-preview').classList.add('border-danger')
                        showError('image', 'La imagen debe ser un archivo con extensión png, jpg, jpeg o gif')
                    }
                })

                const showError = (field, msg) => {
                    $(field).classList.remove('is-valid')                    
                    $(field).classList.add('is-invalid')
                    $(`${field}-error`).innerHTML = msg
                }

                const cleanError = (field) => {
                    $(field).classList.remove('is-invalid')
                    $(field).classList.add('is-valid')                    
                    $(`${field}-error`).innerHTML = null
                }

                formAddProduct.addEventListener('submit', function(e) {
                    let error = false
                    let elementsForm = this.elements
                    for (let index = 0; index < elementsForm.length - 1; index++) {
                        if (elementsForm[index].value == '' || elementsForm[index].classList.contains('is-invalid')) {
                            elementsForm[index].classList.add('is-invalid')
                            error = true
                        }
                    }

                    if (error) {
                        e.preventDefault()
                        $('form-error').innerHTML = 'Los campos señalados son obligatorios'
                    }else {
                        this.submit()
                    }   
                })

            </script>
    </body>

</html>


