<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body class="home">
    <%- include('partials/header') %>
    <main class="main">
      <div class="main__banner">
        <img src="/images/img-home-banner.jpg" alt="">
      </div>
      <section class="main__section">
        <h2 class="main__section--title">Basado en tu última visita</h2>
        <% products.forEach(({id, name, price, discount, image}) => { %>
           <article class="main__section__article">
          <div class="main__section__article__image">
            <img
              width="300"
              src="/images/products/<%= image %>"
              alt="cafetera"
            />
          </div>
          <div class="main__section__article__info">
            <i class="fas fa-truck"></i>
            <div class="main__seccion__article__info--box">
            <p class="main__section__article__info--price">$<%= price %></p>
            <p class="main__section__article__info--discount"><%= discount %>% OFF</p>
            </div>
            
            <h4><%= name %></h4>
            <a class="btn btn-primary" style="&:hover{color:'black'}" href="/products/detail/<%= id %>">Ver más</a>
          </div>
        </article>
        <% }) %>
      
      </section>
  <!--     <section class="main__section">
        <h2 class="main__section--title">Ofertas</h2>
        <article class="main__section__article">
          <div class="main__section__article__image">
            <img
              width="300"
              src="/images/img-cafetera-moulinex.jpg"
              alt="cafetera"
            />
          </div>
          <div class="main__section__article__info">
            <i class="fas fa-truck"></i>
            <div class="main__seccion__article__info--box">
            <p class="main__section__article__info--price">$6.770</p>
            <p class="main__section__article__info--discount">40% OFF</p>
            </div>
            
            <h4>Cafetera Moulinex</h4>
          </div>
        </article>
        <article class="main__section__article">
          <div class="main__section__article__image">
            <img
              width="300"
              src="/images/img-macbook-pro-2019.jpg"
              alt="macbook"
            />
          </div>
          <div class="main__section__article__info">
            <i class="fas fa-truck"></i>
            <div class="main__seccion__article__info--box">
            <p class="main__section__article__info--price">$230.000</p>
            <p class="main__section__article__info--discount">20% OFF</p>
            </div>
            
            <h4>MacBook Pro 2019</h4>
          </div>
        </article>
        <article class="main__section__article">
          <div class="main__section__article__image">
            <img
              width="300"
              src="/images/img-samsung-galaxy-s10.jpg"
              alt="samsung"
            />
          </div>
          <div class="main__section__article__info">
            <i class="fas fa-truck"></i>
            <div class="main__seccion__article__info--box">
            <p class="main__section__article__info--price">$70.500</p>
            <p class="main__section__article__info--discount">10% OFF</p>
            </div>
            
            <h4>Samsung Galaxy S10</h4>
          </div>
        </article>
        <article class="main__section__article">
          <div class="main__section__article__image">
            <img
              width="300"
              src="/images/img-tv-samsung-smart.jpg"
              alt="smart"
            />
          </div>
          <div class="main__section__article__info">
            <i class="fas fa-truck"></i>
            <div class="main__seccion__article__info--box">
            <p class="main__section__article__info--price">$23.200</p>
            <p class="main__section__article__info--discount">5% OFF</p>
            </div>
            
            <h4>SmartTv Samsung 43"</h4>
          </div>
        </article>
      </section> -->
    </main>
   

  </body>
</html>
